@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('./WOFF2/TTF/SourceCodePro-Light.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
         url('./OTF/SourceCodePro-Light.otf') format('opentype'),
         url('./TTF/SourceCodePro-Light.ttf') format('truetype');
}